Copyright The Numerical Algorithms Group Limited 1994.

Here's an equation

In [0]:
)clear all

   All user variables and function definitions have been cleared.


 Solve it

In [1]:
eq:=2*tan(x)+2*tan(2*x)

Warning: HyperTeX macro table not found

   2tan(2x) + 2tan(x)
                                                    Type: Expression(Integer)


 Verify the solutions

In [2]:
thesols:=solve(eq,x)

            2%pi      2%pi    %pi      %pi
   [x= 0,x= ----,x= - ----,x= ---,x= - ---]
              3         3      3        3
                                    Type: List(Equation(Expression(Integer)))


 Problem with simplification of tan(n*atan(y))
 Get the  tower for each expression

In [3]:
theproofs:=[eval(eq,i) for i in thesols]

   [0,0,0,0,0]
                                              Type: List(Expression(Integer))

In [4]:
thetowers:=[tower i for i in theproofs];

                                Type: List(List(Kernel(Expression(Integer))))

In [5]:
thesubs:LIST Record (a:LIST KERNEL EXPR INT ,b:LIST EXPR INT)

                                                                   Type: Void


 apply pattern-matching to find tan(n*atan(y))
 and construct the structures needed

In [6]:
thetans:=_
 [[construct(j,i.j,Is(argument(i.j).1,n * atan(y))) for j in 1..#i_
      |is?(i.j,tan) and is?(argument(i.j).1,n * atan(y))] _
          for i in thetowers] ;

                                                  Type: List(List(List(Any)))


 Construct the evaluation rules for tan(n*atan(y)) -> tanNa(a,n)

In [7]:
thesubs:=_
  [construct([j.k for j in thetans.i],_
             [tanNa(rhs(j.z.2),rhs(j.z.1) ::INT)$TangentExpansions(EXPR INT)_
                        for j in thetans.i]) _
            for i in 1..#theproofs];

   There are no library operations named j
      Use HyperDoc Browse or issue
                                 )what op j
      to learn if there is any operation containing " j " in its name.
   Cannot find a definition or applicable library operation named j
      with argument type(s)
                                 Variable(k)

      Perhaps you should use "@" to indicate the required return type,
      or "$" to specify which version of the function you need.
   FriCAS will attempt to step through and interpret the code.

Type: List(Record(a: List(Kernel(Expression(Integer))),b: List(Expression(Integer))))


 Apply the evaluation rules

In [8]:
thetans:LIST LIST Record(i:INT,k:KERNEL EXPR INT,z:List Equation EXPR INT)

   You cannot declare thetans to be of type List(List(Record(i: Integer
      ,k: Kernel(Expression(Integer)),z: List(Equation(Expression(
      Integer)))))) because either the declared type of thetans or the
      type of the value of thetans is different from List(List(Record(i
      : Integer,k: Kernel(Expression(Integer)),z: List(Equation(
      Expression(Integer)))))) .

error

In [9]:
thezeros:=[eval(i,j.a,j.b) for i in theproofs for j in thesubs]

   [0,0,0,0,0]
                                              Type: List(Expression(Integer))

INDEX-TOO-LARGE-ERROR:
  #<SB-KERNEL:INDEX-TOO-LARGE-ERROR expected-type: (INTEGER 0 (0)) datum: 0>