Copyright The Numerical Algorithms Group Limited 1991.

In [0]:
)clear all

   All user variables and function definitions have been cleared.

 lists are constructed explicitly by using square brackets

In [1]:
l := [1,4,2,-6,0,3,5,4,2,3]

   [1,4,2,- 6,0,3,5,4,2,3]
                                                          Type: List(Integer)

 "listify" an element by using the "list" function

In [2]:
m := list 555555

Warning: HyperTeX macro table not found

   [555555]
                                                  Type: List(PositiveInteger)

 use "concat" to add an item to the front of a list

In [3]:
concat(5,l)

   [5,1,4,2,- 6,0,3,5,4,2,3]
                                                          Type: List(Integer)

 "concat" concatenates 2 lists

In [4]:
concat(m,l)

   [555555,1,4,2,- 6,0,3,5,4,2,3]
                                                          Type: List(Integer)

 to remove all duplicates, issue

In [5]:
removeDuplicates l

   [1,4,2,- 6,0,3,5]
                                                          Type: List(Integer)

 use "first" to get the first element, and "rest" to get the
 list of remaining elements

In [6]:
first l

   1
                                                        Type: PositiveInteger

In [7]:
rest l

   [4,2,- 6,0,3,5,4,2,3]
                                                          Type: List(Integer)

 "last" extracts the last element

In [8]:
last l

   3
                                                        Type: PositiveInteger

 to find the number of elements, use "#"

In [9]:
#l

   10
                                                        Type: PositiveInteger

 "first" and "rest" extract or remove leading or trailing
 parts of the list

In [10]:
l

   [1,4,2,- 6,0,3,5,4,2,3]
                                                          Type: List(Integer)

In [11]:
first(l,3)

   [1,4,2]
                                                          Type: List(Integer)

In [12]:
rest(l,3)

   [- 6,0,3,5,4,2,3]
                                                          Type: List(Integer)

 individual elements may be extracted as follows
 notice that list indexing goes from 1 to the size of the list

In [13]:
l.1

   1
                                                        Type: PositiveInteger

In [14]:
l.2

   4
                                                        Type: PositiveInteger

In [15]:
l.(#l)

   3
                                                        Type: PositiveInteger

 individual elements may be set (destructively) in a similar manner

In [16]:
l.1 := 1000000000

   1000000000
                                                        Type: PositiveInteger

In [17]:
l

   [1000000000,4,2,- 6,0,3,5,4,2,3]
                                                          Type: List(Integer)

 "insert" is used to add an element to a specific position in the list

In [18]:
insert(10,l,4)

   [1000000000,4,2,10,- 6,0,3,5,4,2,3]
                                                          Type: List(Integer)

In [19]:
insert(2,l,1)

   [2,1000000000,4,2,- 6,0,3,5,4,2,3]
                                                          Type: List(Integer)

 "position" determines the first index of an element in a list
 if the element is not in the list, 0 is returned.

In [20]:
position(-6,l)

   4
                                                        Type: PositiveInteger

 to reverse a list

In [21]:
reverse l

   [3,2,4,5,3,0,- 6,2,4,1000000000]
                                                          Type: List(Integer)

 the following functions demonstrate some functions on sets

In [22]:
l

   [1000000000,4,2,- 6,0,3,5,4,2,3]
                                                          Type: List(Integer)

In [23]:
m := [4,2,3,6,5,7,-9,1,2,3,2]

   [4,2,3,6,5,7,- 9,1,2,3,2]
                                                          Type: List(Integer)

In [24]:
sl:SET(INT) := brace l

   {- 6,0,2,3,4,5,1000000000}
                                                           Type: Set(Integer)

In [25]:
sm:SET(INT) := brace m

   {- 9,1,2,3,4,5,6,7}
                                                           Type: Set(Integer)

In [26]:
difference(sl, sm)

   {- 6,0,1000000000}
                                                           Type: Set(Integer)

In [27]:
intersect(sl,sm)

   {2,3,4,5}
                                                           Type: Set(Integer)

In [28]:
union(sl,sm)

   {- 9,- 6,0,1,2,3,4,5,6,7,1000000000}
                                                           Type: Set(Integer)

In [29]:
--
-- EOF
--