Copyright The Numerical Algorithms Group Limited 1991.

  This is the 3n + 1 function:   f(n) = n/2    if n is even,
                                        3n + 1 otherwise

 It can obviously be coded as
  f n ==
    even? n => n quo 2
    3 * n + 1

 but we code using the pattern matching syntax:
 f n ==
    n is 2*m% => m%
    3 * n + 1

 The 'integer' is to return an integer instead of a polynomial

In [0]:
f n ==
   not empty?(u := Is(n, 2*m%)) => integer eval(m%, u)
   3 * n + 1

                                                                   Type: Void

In [1]:
)set stream showall on

 The function g generates the stream of the repeated applications of f

In [2]:
g(n:INT):STREAM(INT) == stream(f, n)

   Function declaration g : Integer -> Stream(Integer) has been added
      to workspace.

                                                                   Type: Void

 There is a conjecture that g(n) gets into the cycle (1 4 2)
 for every n

In [3]:
s := g 27

Warning: HyperTeX macro table not found
   Compiling function f with type Integer -> Integer
   Compiling function g with type Integer -> Stream(Integer)

   [27,82,41,124,62,31,94,47,142,71,...]
                                                        Type: Stream(Integer)

In [4]:
extend(s, 150)

   [27, 82, 41, 124, 62, 31, 94, 47, 142, 71, 214, 107, 322, 161, 484, 242,
    121, 364, 182, 91, 274, 137, 412, 206, 103, 310, 155, 466, 233, 700, 350,
    175, 526, 263, 790, 395, 1186, 593, 1780, 890, 445, 1336, 668, 334, 167,
    502, 251, 754, 377, 1132, 566, 283, 850, 425, 1276, 638, 319, 958, 479,
    1438, 719, 2158, 1079, 3238, 1619, 4858, 2429, 7288, 3644, 1822, 911, 2734,
    1367, 4102, 2051, 6154, 3077, 9232, 4616, 2308, 1154, 577, 1732, 866, 433,
    1300, 650, 325, 976, 488, 244, 122, 61, 184, 92, 46, 23, 70, 35, 106, 53,
    160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20,
    10, 5, 16, 8, 4, 2, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4,
    2, 7, 22, 11, 34, 17, 52, 26, ...]
                                                        Type: Stream(Integer)

In [5]:
--
-- EOF
--