Copyright The Numerical Algorithms Group Limited 1991.

In [0]:
)clear all

   All user variables and function definitions have been cleared.

In [1]:
)set streams calculate 5

In [2]:
)set streams showall on

at least 5 stream elements will be evaluated
the stream of integers starting at 1

In [3]:
a := [i for i in 1..]

Warning: HyperTeX macro table not found

   [1,2,3,4,5,...]
                                                Type: Stream(PositiveInteger)

In [4]:
b := [i+1 for i in a]

   [2,3,4,5,6,...]
                                                Type: Stream(PositiveInteger)

select the 20th element

In [5]:
b.20

   21
                                                        Type: PositiveInteger

the first 20 elements of b (and a) are evaluated

In [6]:
b

   [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,...]
                                                Type: Stream(PositiveInteger)

In [7]:
a

   [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,...]
                                                Type: Stream(PositiveInteger)

the first 10 elements of a

In [8]:
first(a,10)

   [1,2,3,4,5,...]
                                                Type: Stream(PositiveInteger)

all except the first 10 elements of a

In [9]:
rest(a,10)

   [11,12,13,14,15,16,17,18,19,20,...]
                                                Type: Stream(PositiveInteger)

the stream of odd integers

In [10]:
[i for i in a | odd? i]

   [1,3,5,7,9,...]
                                                Type: Stream(PositiveInteger)

combining two streams

In [11]:
c := [[i,j] for i in a for j in b]

   [[1,2],[2,3],[3,4],[4,5],[5,6],...]
                                          Type: Stream(List(PositiveInteger))

 selecting the first from each pair

In [12]:
[first i for i in c]

   [1,2,3,4,5,...]
                                                Type: Stream(PositiveInteger)

In [13]:
)set streams calculate 10

concat(a,b) concatenates streams a and b, better if a is finite

In [14]:
concat([i for i in a while i<7],a)

   [1,2,3,4,5,6,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,...]
                                                Type: Stream(PositiveInteger)

In [15]:
concat(a,a)

   [1,2,3,4,5,6,7,8,9,10,...]
                                                Type: Stream(PositiveInteger)

In [16]:
upto:NNI->STREAM INT

                                                                   Type: Void

In [17]:
upto n == first(a,n)

                                                                   Type: Void

In [18]:
d := [upto n for n in a]

   Compiling function upto with type NonNegativeInteger -> Stream(
      Integer)

   [[1], [1,2], [1,2,3], [1,2,3,4], [1,2,3,4,5], [1,2,3,4,5,6],
    [1,2,3,4,5,6,7], [1,2,3,4,5,6,7,8], [1,2,3,4,5,6,7,8,9],
    [1,2,3,4,5,6,7,8,9,10,...], ...]
                                                Type: Stream(Stream(Integer))

concat flattens a stream of streams into a one level stream

In [19]:
concat d

   [1,1,2,1,2,3,1,2,3,4,...]
                                                        Type: Stream(Integer)

the sum of a finite stream

In [20]:
reduce(0,_+$INT,first(a,10))

   55
                                                        Type: PositiveInteger

a stream of cumulative sums

In [21]:
scan(0,_+$INT,a)

   [1,3,6,10,15,21,28,36,45,55,...]
                                                        Type: Stream(Integer)

In [22]:
scan(0,_+$INT,[2*i-1 for i in a])

   [1,4,9,16,25,36,49,64,81,100,...]
                                                        Type: Stream(Integer)

In [23]:
ff:(LIST INT)->(LIST INT)

                                                                   Type: Void

In [24]:
ff(x)==[x.1+x.2,x.1]

                                                                   Type: Void

 stream(f, x) operates on an A->A function f and an initial A, x
 to produce the stream x, f x, f(f x), ...

In [25]:
fibs := stream(ff, [1, 1])

   Compiling function ff with type List(Integer) -> List(Integer)

   [[1,1],[2,1],[3,2],[5,3],[8,5],[13,8],[21,13],[34,21],[55,34],[89,55],...]
                                           Type: InfiniteTuple(List(Integer))

first([first i for i in fibs], 100)

In [26]:
mt:SQMATRIX(2,INT) := matrix [[1,2],[3,4]]

   +1  2+
   |    |
   +3  4+
                                                Type: SquareMatrix(2,Integer)

In [27]:
mplm:SQMATRIX(2,INT)->SQMATRIX(2,INT)

                                                                   Type: Void

In [28]:
mplm x == x*mt

                                                                   Type: Void

In [29]:
stream(mplm, mt)

   Compiling function mplm with type SquareMatrix(2,Integer) ->
      SquareMatrix(2,Integer)

    +1  2+  +7   10+  +37  54 +  +199  290+  +1069  1558+  +5743   8370 +
   [|    |, |      |, |       |, |        |, |          |, |            |,
    +3  4+  +15  22+  +81  118+  +435  634+  +2337  3406+  +12555  18298+
    +30853  44966+  +165751  241570+  +890461   1297782+  +4783807   6972050 +
    |            |, |              |, |                |, |                  |,
    +67449  98302+  +362355  528106+  +1946673  2837134+  +10458075  15241882+
    ...]
                                 Type: InfiniteTuple(SquareMatrix(2,Integer))

In [30]:
--
-- EOF
--